<h2><%= @doctor.name %>'s Information</h2>

<strong>Specialty: <%= @doctor.specialty %></strong>
<strong>University: <%= @doctor.university %></strong>

<strong>Hospital <%= @doctor.name %> Works For: <%= @doctor.associated_hospital %></strong>
<strong>Number of Patients <%= @doctor.name %> Currently Has: <%= @doctor.patient_count %></strong>